.card {
    height: 100%;
    font: 20px/150% Ebrima;
    text-align: center;
    /*margin-top: 20px;*/
    /*margin: auto;*/
}

.card .avatar-container {
    background: url(../assets/ico/male-icon.png);
    margin: 20px auto;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card .view-details-link {
    color: #e5e5e5;
    text-decoration: none;
}

.card .view-details-link:hover {
    color: white;
}

.card .view-details-link button {
    /*background-color: #5858ff;*/
    border: 0;
    font-size: 16px !important;
    margin-top: 20px;
}

.view-details-link {
    width: 50%;
    margin: 20px auto;

}